{
	"printWidth": 96,
	"tabWidth": 3,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "always",

	"svelteSortOrder": "scripts-styles-markup",
	"svelteStrictMode": false,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": true
}
