// global.scss
@import "./reset.scss";

:root {
	--color-primary-high: hsl(52, 100%, 75%);
	--color-primary-middle: hsl(48, 100%, 50%);
	--color-primary-low: hsl(46, 100%, 25%);
	--color-primary-mask: hsla(48, 100%, 50%, 0.2);

	--color-content-high: hsl(200, 8%, 100%);
	--color-content-middle: hsl(200, 8%, 68%);
	--color-content-low: hsl(200, 8%, 56%);

	--container-main: 120rem;
	--container-content: 88rem;

	--size-xxs: 0.4rem;
	--size-xs: 0.8rem;
	--size-s: 1.6rem;
	--size-m: 2.4rem;
	--size-l: 4rem;
	--size-xl: 8rem;
	--size-xxl: 16rem;

	--radius-small: var(--size-xs);
	--radius-medium: var(--size-s);
	--radius-large: var(--size-l);

	--transition-primary: cubic-bezier(0, 1, 0.25, 1); // Punchy
	--transition-secondary: cubic-bezier(0.5, 2, 0.5, 0.75); // Bouncy

	--font-weight-regular: 400;
	--font-weight-bold: 500;

	--color-accent-0: hsl(8, 100%, 0%);
	--color-accent-10: hsl(8, 100%, 10%);
	--color-accent-20: hsl(8, 100%, 20%);
	--color-accent-30: hsl(8, 100%, 30%);
	--color-accent-40: hsl(8, 100%, 40%);
	--color-accent-50: hsl(8, 100%, 50%);
	--color-accent-60: hsl(8, 100%, 65%);
	--color-accent-70: hsl(8, 100%, 70%);
	--color-accent-80: hsl(8, 100%, 75%);
	--color-accent-90: hsl(8, 100%, 85%);
	--color-accent-100: hsl(8, 100%, 95%);

	--color-monotone-0: hsl(0, 0%, 0%);
	--color-monotone-5: hsl(0, 0%, 5%);
	--color-monotone-10: hsl(0, 0%, 10%);
	--color-monotone-15: hsl(0, 0%, 15%);
	--color-monotone-20: hsl(0, 0%, 20%);
	--color-monotone-25: hsl(0, 0%, 25%);
	--color-monotone-30: hsl(0, 0%, 30%);
	--color-monotone-35: hsl(0, 0%, 35%);
	--color-monotone-40: hsl(0, 0%, 40%);
	--color-monotone-45: hsl(0, 0%, 45%);
	--color-monotone-50: hsl(0, 0%, 50%);
	--color-monotone-55: hsl(0, 0%, 55%);
	--color-monotone-60: hsl(0, 0%, 60%);
	--color-monotone-65: hsl(0, 0%, 65%);
	--color-monotone-70: hsl(0, 0%, 70%);
	--color-monotone-75: hsl(0, 0%, 75%);
	--color-monotone-80: hsl(0, 0%, 80%);
	--color-monotone-85: hsl(0, 0%, 85%);
	--color-monotone-90: hsl(0, 0%, 90%);
	--color-monotone-95: hsl(0, 0%, 95%);
	--color-monotone-100: hsl(0, 0%, 100%);
}

html {
	font-size: 62.5% !important;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	@media (max-width: 600) {
		font-size: 56% !important;
	}
}

body {
	@include LightTheme(false);
	&.theme-light {
		@include LightTheme(true);
	}

	font-family: "Tomorrow", Helvetica, Avenir, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-style: normal;
	font-weight: var(--font-weight-regular);
	font-size: 1.6rem;
	line-height: 1em;
	background-color: var(--theme-background);
	color: var(--theme-text-content);

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;

	#site-wrapper {
		width: 100%;
		height: auto;
		min-height: 100%;

		flex-grow: 1;

		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: stretch;
	}
}

img.icon {
	height: 1.25em;
	width: auto;
	display: inline-block;
}

img.emoji {
	height: 1em;
	width: 1.2em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}

a {
	text-decoration: none;
	cursor: pointer;
	transition: all 0.08s ease;
}

ol,
ol li {
	list-style: decimal;
}

ul,
ul li {
	list-style: disc;
}

ul,
ol {
	@include Constrain();
	ul,
	ol {
		padding-left: 1em;
	}

	li {
		list-style-position: inside;
	}
	&.reset,
	&.reset ul,
	&.reset ol,
	&.reset li {
		max-width: none;
		list-style: none !important;
		ul,
		ol {
			padding-left: 0 !important;
		}
	}
}
