@mixin LightTheme($lightTheme: false) {
	@if $lightTheme {
		// LEVELS
		--theme-background: var(--color-monotone-80);
		--theme-lvl1-fill: var(--color-monotone-85);
		--theme-lvl1-border: var(--color-monotone-90);
		--theme-lvl2-fill: var(--color-monotone-95);
		--theme-lvl2-border: var(--color-monotone-100);

		// TEXT
		--theme-text-title: var(--color-monotone-0);
		--theme-text-content: var(--color-monotone-10);
		--theme-text-sub: var(--color-monotone-20);

		// LINK
		--theme-text-title: var(--color-monotone-0);
		--theme-text-content: var(--color-monotone-10);
		--theme-text-sub: var(--color-monotone-20);

		// ACCENT
		--theme-link-resting: var(--color-accent-40);
		--theme-link-hover: var(--color-accent-50);

		--theme-interactive-resting: var(--color-accent-60);
		--theme-interactive-hover: var(--color-accent-70);
		--theme-interactive-content: var(--color-accent-0);
		--theme-interactive-sub: var(--color-accent-10);
	} @else {
		// LEVELS
		--theme-background: var(--color-monotone-0);
		--theme-lvl1-fill: var(--color-monotone-5);
		--theme-lvl1-border: var(--color-monotone-10);
		--theme-lvl2-fill: var(--color-monotone-15);
		--theme-lvl2-border: var(--color-monotone-20);

		// TEXT
		--theme-text-title: var(--color-monotone-100);
		--theme-text-content: var(--color-monotone-85);
		--theme-text-sub: var(--color-monotone-70);

		// ACCENT
		--theme-link-resting: var(--color-accent-50);
		--theme-link-hover: var(--color-accent-60);

		--theme-interactive-resting: var(--color-accent-20);
		--theme-interactive-hover: var(--color-accent-30);
		--theme-interactive-content: var(--color-accent-90);
		--theme-interactive-sub: var(--color-accent-70);
	}
}

//	==========
//	UTILITY
//	==========
@mixin Constrain() {
	//max-width: var(--container-content);
	//margin-left: auto;
	//margin-right: auto;
}
