//	==========
//	UTILITY
//	==========
@mixin Constrain($width: 960px) {
	width: 100%;
	height: auto;
	max-width: $width;
	margin-left: auto;
	margin-right: auto;
}

//	==========
//	TYPOGRAPHY
//	==========
@mixin textStyle($size: 1.6rem, $weight: 400, $kern: -0.01em) {
	margin-top: var(--size-xxs) * 0.5em;
	margin-bottom: var(--size-xxs) * 0.5em;
	font-size: $size;
	line-height: calc($size + var(--size-xxs) + 0.5em);
	letter-spacing: $kern;
	font-weight: $weight;
}

@mixin textSpace($space: 0) {
	margin-top: $space * 1em;
	margin-bottom: $space * 1em;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

@mixin Hero($space: 0) {
	font-size: 4.8rem;
	line-height: 4.8rem;
	letter-spacing: -0.01em;

	font-weight: var(--font-weight-bold);
	@include textSpace($space);
}
@mixin Title($space: 0) {
	font-size: 3.2rem;
	line-height: 4rem;
	letter-spacing: -0.01em;

	font-weight: var(--font-weight-bold);
	@include textSpace($space);
}
@mixin Subtitle($space: 0) {
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: -0.01em;

	font-weight: var(--font-weight-regular);
	@include textSpace($space);
}
@mixin Heading($space: 0) {
	font-size: 2rem;
	line-height: 2.8rem;
	letter-spacing: -0.01em;

	font-weight: var(--font-weight-bold);
	@include textSpace($space);
}
@mixin Content($space: 0) {
	font-size: 2rem;
	line-height: 2.8rem;
	letter-spacing: 0.005em;

	font-weight: var(--font-weight-regular);
	@include textSpace($space);
}
@mixin Label($space: 0) {
	font-size: 1.6rem;
	line-height: 2.8rem;
	letter-spacing: 0.1em;

	text-transform: uppercase;
	font-weight: var(--font-weight-bold);
	@include textSpace($space);
}

@mixin AltFont() {
	font-family: "Comic Sans";
	--font-weight-regular: 400;
	--font-weight-bold: 800;
}
